/*
    these font files have been included to demonstrate the syntax for loading fonts
    in Stylus, which isn't always obvious. if you're loading fonts in this way rather
    than via an external provider, set all `$fw` variables in `typographic_variables.styl`
    to a value of `normal`. depending on your required level of browser support,
    you can probably load `.woff` files only rather than the full range loaded below.
*/
@font-face
    font-family "graphik--regular"
    src url("../fonts/Graphik-Regular-Web.woff")
    font-weight normal
    font-style normal
    font-stretch normal

@font-face
    font-family "graphik--medium"
    src url("../fonts/Graphik-Medium-Web.woff")
    font-weight normal
    font-style normal
    font-stretch normal

@font-face
    font-family "graphik--semibold"
    src url("../fonts/Graphik-Semibold-Web.woff")
    font-weight normal
    font-style normal
    font-stretch normal

@font-face
    font-family "grenette--regular"
    src url("../fonts/Grenette-Regular-Web.woff")
    font-weight normal
    font-style normal
    font-stretch normal
